# Imports

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

# NASA Mars News

In [2]:
news_url= 'https://redplanetscience.com/'
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)
browser.visit(news_url)
html = browser.html
soup = bs(html, "html.parser")

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\aleja\.wdm\drivers\chromedriver\win32\93.0.4577.15\chromedriver.exe] found in cache

In [3]:
latest_news = {}
latest_news['headline'] = soup.find("div", class_="content_title").get_text()
latest_news['body'] = soup.find('div',class_="article_teaser_body").get_text()

In [4]:
latest_news

{'headline': "NASA's Treasure Map for Water Ice on Mars",
 'body': 'A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.'}

# JPL Mars Space Images

In [5]:
jpl_mars_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_mars_url)
html = browser.html
soup = bs(html,'html.parser')

In [6]:
featured_image = f"{jpl_mars_url}{soup.find('img',class_='headerimage')['src']}"

# Mars Facts

In [7]:
mars_facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(mars_facts_url)
html = browser.html
soup = bs(html,'html.parser')

In [8]:
table = soup.find("table", class_="table")

In [37]:
df = pd.read_html(mars_facts_url)[1]
table = df.to_html(index=False,header=False)
table.replace('\n','')

'<table border="1" class="dataframe">  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [26]:
df.rename(columns={0:'key',1:'data'},inplace=True)
df.set_index("key",inplace=True)
tableresult = df.to_html()
tableresult.replace('\n','')

                                               data
key
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

# Mars Hemispheres

In [10]:
astrogeology_url = 'https://marshemispheres.com/'
browser.visit(astrogeology_url)
html = browser.html
soup = bs(html,'html.parser')

In [11]:
hemisphere_image_urls = []

In [12]:

results = soup.find_all('div',class_="item")
for i in results:
    url = f"{astrogeology_url}{i.find('a',class_='itemLink')['href']}"
    browser.visit(url)
    image_html = browser.html
    csoup = bs(image_html,'html.parser')
    image_link = f"{astrogeology_url}{csoup.find('img', class_='wide-image')['src']}"
    title = csoup.find('h2',class_="title").get_text().rsplit(" ",1)[0]
    result_dict = {"title":title,"img_url":image_link}
    hemisphere_image_urls.append(result_dict)

In [13]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]